{%load static%}
<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Chart of data published</title>
</head>
<body>
    <svg width="500" height="300"></svg>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'js/publishedvs.js' %}"></script>
    <h1>test</h1>
</body>
</html>
 -->

 <!DOCTYPE html>
 <html>
 <head>
     <title>Bar Graph using D3.js</title>
     <script src="https://d3js.org/d3.v5.min.js"></script>
     <style>
         .bar {
             fill: steelblue;
         }
     </style>
 </head>
 <body>
 <svg width="1000" height="500"></svg>
 <script src="{%static 'js/publishedvs.js'%}"></script>
 </body>
 </html>